mat-toolbar {
    display: flex;
    justify-content: space-between;
    padding: 0 64px;
    a {
      text-decoration: none;
      border: 0.5px solid wheat;
      border-radius: 10px;
      &.active-link {
        color: white;
      }
      span {
        margin: 24px;
        color: whitesmoke;
        
      }
    }
  }